@model IEnumerable<VroomAuto.AppLogic.Models.User>;
@{
    ViewData["Title"] = "User Page";
}


<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Adress
            </th>
            <th>
                Email
            </th>
            <th>
                Phone
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.Name)
            </td>
            <th>
                @Html.DisplayFor(modelItem => user.Adress)
            </th>
            <th>
                @Html.DisplayFor(modelItem => user.Email)
            </th>
            <th>
                @Html.DisplayFor(modelItem => user.Phone)
            </th>
        </tr>
        }
        </tbody>

</table>